@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*

{
  margin:0;
  padding:0;
  font-family: 'Acme', sans-serif;
  box-sizing: border-box;
  text-transform: capitalize; 
}
html
{
    fon-size:17px;
}
section

{
    min-height:100vh;
    padding: 1rem 10%;
    padding-top:8rem;
}
header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: rgb(191, 109, 121); 
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0 .2rem .3rem black;
}
header .logo img
{
    height:6rem;
}
header .navigate ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 5px;
}
header .navigate ul li
{
    margin-left: 3rem;
}
header .navigate ul li a
{
    text-decoration: none;
    font-size: 1.2rem; 
    color:black;
    font-weight: 500;
}
header .navigate ul li a:hover
{
    color:whitesmoke;
}
.home
{
    background-image: url(back.jpg);
    background-position: center;
    background-size:cover ;
    color: rgb(81, 53, 53);
    text-align: right;
}
.home h1
{
    padding-top: 20% ;
    font-size: 4rem;
    text-shadow: .2rem .2rem lightcoral;
    letter-spacing: .1rem;
}
.home p
{
    font-size: 1.2rem;
    line-height: 2rem;
}
.home-btn
{
    padding: 1.5em;rem 0;
    font-size: 1.5rem;
}
.home-btn button
{
    width:10rem;
    padding:.6rem .7rem;
    border:none;
    border-radius:.1rem;
    font-size: 1.1rem;
    font-weight:600;
    text-align:center;
    letter-spacing: .1rem;
    color:lightgray;
    background:rgb(191, 109, 121);
    button-radius: 4px;
    
}
.home-btn button i
{
    margin-left: .5rem;
    font-size: 1rem;
    text-align: center;
}
.home-btn button:hover
{
    background-color: chocolate;
}
.about
{
    display:flex;
    justify-content: space-between;
    align-items: center ;
}
.about .about-content
{
    width:100%;
    height: auto;
    padding: 4rem 2rem;
    box-shadow: 0 .2rem .5rem blueviolet;
    text-align: center;
    background: chocolate;
    border-radius: 1rem;
}
.about-content h2
{
    font-size: 2.5rem;
    color: cornsilk;
    padding: .5rem 0;
    letter-spacing: .2rem;
    text-shadow: .2rem .5rem hotpink;
}
